run = "raku main.raku -v -r"

entrypoint = "main.raku"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install deps"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "raku main.raku"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Install deps"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash install-deps.sh"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "raku main.raku -v -r"]
