run = "raku main.raku -v -r"

entrypoint = "main.raku"

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "Shell"
mode = "sequential"
author = 8497871

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "raku main.raku"
